Wip{
    position:absolute;
    left:0;top:0;
    height:33px;width:100%;
    pointer-events:none;
    background-color:rgba(black,0.5);
    backdrop-filter:blur(10px);
}

.Wip1, .Wip2 {
    position: absolute;
    top: 2px;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size:12px;
    font-weight:bold;
}

.Wip2{
    top:15px;
}